#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.app__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 24px;
}
.card__wrapper {
  display: flex;
  gap: 16px;
  text-align: left;
}
.card {
  padding: 2em;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.card--description {
  margin-top: 8px;
}

.read-the-docs {
  color: #888;
}

.option-group {
  color: #888;
}

.option-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.option-group-label {
  opacity: 0.6;
  font-size: 12px;
}
